.container {
  position: relative;
  z-index: 2;
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomContainer {
  position: absolute;
  grid-area: 7;
  top: 10px;
  width: 70vw;
  max-width: 510px;
  min-height: calc(100svh - 200px);
  max-height: 980px;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
}

.bottomContainer * {
  margin-bottom: 20px;
}

.title {
  position: absolute;
  color: var(--color-white);
  text-shadow: 0px 0px 9.5px var(--color-primary);
  font-size: clamp(4.8rem, 2rem + 8vw, 12rem);
  font-weight: 700;
  grid-area: 4;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleInfo {
  position: absolute;
  color: var(--color-white);
  font-size: clamp(1.4rem, 0.5rem + 2.2vw, 3.2rem);
  grid-area: 6;
  right: 20px;
}

.chAdvImage {
  width: 100%;
  max-width: 510px;
  height: auto;
  border: 2px solid var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 0px 18px 5px #ffffff36;
}

.subtitle {
  width: 100%;
  color: var(--color-white);
  font-size: clamp(1.6rem, 0.5rem + 2.6vw, 3.6rem);
  padding: 10px 20px;
  border: 2px solid var(--color-white);
  background: var(--color-chordprinter);
  border-radius: 8px;
  box-shadow: 0px 0px 48px 0px var(--color-primary);
}

@media screen and (min-width: 780px) {
  .bottomContainer {
    width: 100%;
    max-width: 100%;
  }
  .title {
    padding-left: 45px;
    top: 27%;
  }
  .subtitle {
    border: none;
    box-shadow: none;
    background: transparent;
  }
}
