:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #909090;
  --color-background-dark: #1d1d1d;
  --color-background-light: #e4e4e4;
  --color-primary: #6645bf;
  --color-secondary: #ffb100;
  --color-chordprinter: #3a3742;

  --fs-page-title: clamp(3rem, 1.25rem + 8vw, 7.5rem);
  --fs-title-info: clamp(0.875rem, 0.3rem + 2vw, 1.6rem);
  --fs-subtitle: clamp(1rem, 0.5rem + 1.8vw, 1.75rem);
}

*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: var(--color-body);
  font-family: Roboto, sans-serif;
}
