@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #909090;
  --color-body: rgba(0, 0, 0, 0.863);
  --color-background: #1d1d1d;
  --color-primary: #6645bf;
  --color-secondary: #ffb100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--color-body);
}
