.container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 300px;
}

.swiperContainer {
  width: 90%;
  height: 400px;
}

.mySwiper {
  height: 400px;
  --swiper-navigation-color: var(--color-primary);
  --swiper-pagination-color: var(--color-primary);
  --swiper-navigation-top-offset: 40%;
  --swiper-pagination-top: 370px;
  --swiper-pagination-bullet-border-radius: 2px;
  --swiper-pagination-bullet-width: 40px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-left: 200px;
}

.navigationButton {
  width: 50px;
  height: 50px;
  margin-bottom: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
  opacity: 0.8;
  transition: 0.5s;
}

.navigationButton:hover {
  opacity: 1;
}

.prevIcongImage {
  rotate: 180deg;
  margin-top: 2px;
  transition: 0.5s;
}

.prevIcongImage:hover {
  margin-right: 10px;
}

.nextIcongImage {
  margin-top: 2px;
  transition: 0.5s;
}

.nextIcongImage:hover {
  margin-left: 10px;
}

.slideBox {
  position: relative;
  width: 100%;
  height: 360px;
  background-color: var(--color-white);
  border-radius: 8px;
}

@media screen and (min-width: 1024px) {
  .swiperContainer {
    width: 915px;
    height: 255px;
  }

  .mySwiper {
    height: 255px;
    --swiper-pagination-top: 210px;
  }

  .slideBox {
    width: 915px;
    height: 200px;
    background-color: var(--color-white);
    border-radius: 8px;
  }
}
