.sectionContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.chordContainer {
  position: absolute;
  width: 100%;
  margin-top: 70px;
}

.contentContainer {
  position: relative;
  z-index: 12;
  width: 100%;
  max-width: var(--max-content-width);
  min-height: 700px;
}

.header {
  color: var(--color-white);
  text-align: center;
  margin-top: 30px;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.box {
  padding: 20px;
  border: 2px solid #b9b9b9;
  border-radius: 35px;
  background-color: var(--color-grey);
  box-shadow: 0px 0px 24.4px 0px var(--color-primary);
}

.text {
  width: 300px;
  height: 150px;
  color: var(--color-white);
  font-size: var(--fs-text-small);
}
